html{
    background-color: #121212d4;
}
.app {
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

.spill{
}

.cat {
    max-width: 500px;
}

.buttbox {
    border: black 30px;
}
.chatbox{
    border-radius: 15px;
    max-height: 250px;
    margin-left: 50px;
    background-color: white;
    border: solid black 5px;
}

.talk {
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    max-width: 200px;
    max-height: 100px;
    border: black 3px;
}
button{
    font-size: 40px;
    border: none;
    background-color: brown;
    color: white;
    border-radius: 10px;
}
.gamebutton{
    margin-right: 40px;
    margin-bottom: 10px;
    font-size: 40px;
    border: none;
    background-color: brown;
    color: white;
    border-radius: 10px;
}
.randomtalk{
    font-size: 30px;
    font-family: sans-serif;
    color: black;
}
.gameover{
    flex-direction: column;
}
.gameovertext{
    display: flex;
    justify-content: center;
    margin-top: -150px;

}
button:hover{
    font-size: 40px;
    border: none;
    background-color: rgb(121, 31, 31);
    color: white;
    border-radius: 10px;
}